
# Allow legacy peer dependencies to resolve conflicting versions
legacy-peer-deps=true

# Set timeout for network operations
network-timeout=600000

# Use exact version numbers for dependencies
save-exact=true

# Prevent the generation of package-lock.json during CI
package-lock=false
