
# Allow legacy peer dependencies to resolve conflicting versions
legacy-peer-deps=true

# Set timeout for network operations
network-timeout=600000

# Use exact version numbers for dependencies
save-exact=true

# Prevent the generation of package-lock.json during CI
package-lock=false

# Force npm to use install instead of ci
ci=false

# Decrease logging verbosity
loglevel=error

# Additional options to prevent npm ci
prefer-offline=true
fund=false
audit=false
